*{
    position:relative;
    padding: 0;
    margin: 0 auto;
    background-color: #272727;
    color: white;
    font-family: 'Roboto',sans-serif;
}

#canvas {
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

#link {
    position: fixed;
    z-index: 10;
    top: 50vh;
    left: 50vh;
}