* {
  position: relative;
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

html {
  width: 100%;
}

.cover {
  width: 100%;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 20px;
  width: 1080px;
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
}

.row {
  width: 100%;
}

.social-links {
  position: fixed;
  padding: 15px;
  z-index: 10;
  width: 80px;
  left: calc(100% - 80px);
  top: calc(50vh - 140px);
  background-color: black;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-clip-path: polygon(29% 3%, 100% 0, 100% 100%, 52% 100%, 30% 96%, 9% 74%, 2% 17%);
  clip-path: polygon(29% 3%, 100% 0, 100% 100%, 52% 100%, 30% 96%, 9% 74%, 2% 17%);
}

@media screen and (max-width: 1080px) {
  .social-links {
    display: none;
  }
}

.nav-icon {
  display: block;
  margin: 15px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

#splash {
  background-color: #0f0d16;
  padding: 15vh 15vw;
  height: 100vh;
  -webkit-clip-path: polygon(100% 0, 100% 84%, 85% 96%, 54% 95%, 50% 98%, 45% 94%, 7% 91%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 84%, 85% 96%, 54% 95%, 50% 98%, 45% 94%, 7% 91%, 0 100%, 0 0);
}

@media screen and (max-width: 640px) {
  #splash {
    -webkit-clip-path: polygon(100% 0, 100% 85%, 95% 90%, 50% 95%, 10% 90%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 85%, 95% 90%, 50% 95%, 10% 90%, 0 100%, 0 0);
    background-image: url("../images/parallax/mobileSplash.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#splash h1 {
  text-align: left;
  font-size: 7vw;
  color: white;
}

#splash h2 {
  text-align: left;
  font-size: 4vw;
  color: white;
}

#splash h3 {
  cursor: pointer;
  position: absolute;
  padding: 20px 40px;
  top: 80vh;
  text-align: center;
  font-size: 3vw;
  background-color: #ffc400;
  color: black;
  border-radius: 10px;
  -webkit-clip-path: polygon(95% 3%, 100% 64%, 90% 100%, 5% 91%, 0 19%, 7% 0);
  clip-path: polygon(95% 3%, 100% 64%, 90% 100%, 5% 91%, 0 19%, 7% 0);
}

@media screen and (max-width: 640px) {
  #splash h3 {
    font-size: 5vw;
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .parallax {
    display: none;
  }
}

.parallax-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 640px) {
  .parallax-foreground {
    display: none;
  }
}

.hover-letter {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.hover-word {
  display: inline;
}

#about {
  text-align: center;
}

#portrait {
  width: 100%;
  margin-top: -60px;
}

@media screen and (max-width: 640px) {
  #portrait {
    margin-top: 0;
    margin-left: 1rem;
    height: auto;
    width: 100%;
  }
}

.split {
  display: inline-block;
  padding: 20px;
  width: 50%;
  vertical-align: top;
  text-align: left;
  font-size: 0;
}

.split h1 {
  font-size: 4vh;
}

.split h2 {
  font-size: 2vh;
}

.split p {
  margin: 15px auto;
  font-size: 16px;
  line-height: 30px;
}

@media screen and (max-width: 640px) {
  .split {
    display: block;
    width: 100%;
  }
}

.tech-icon {
  display: inline-block;
  margin: 10px;
  font-size: 0;
  width: 80px;
  height: 80px;
  background-color: black;
}

.attribute-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

@media screen and (max-width: 640px) {
  .attribute-container {
    display: block;
  }
}

.section-header {
  background-color: #ffc400;
  color: #222;
}

#shaker-hero {
  width: 100%;
  font-size: 0;
}

#scrumptious-hero {
  width: 100%;
  font-size: 0;
}

#chappy-hero {
  width: 100%;
  font-size: 0;
}

.project-header {
  padding: 10px;
  font-family: 'Oswald',sans-serif;
  background-color: black;
  white-space: nowrap;
}

.project-title {
  margin-left: 11%;
  color: white;
  font-family: 'Oswald',sans-serif;
  font-size: 5rem;
}

@media screen and (max-width: 1080px) {
  .project-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 640px) {
  .project-title {
    font-size: 2rem;
  }
}

.project-details {
  height: 80px;
  background-color: black;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 66% 80%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 66% 80%, 0 100%, 0 0);
}

.contain {
  padding-left: 20px;
  width: 1080px;
}

.contain h1 {
  font-size: 2rem;
  line-height: 80px;
  color: white;
}

@media screen and (max-width: 1080px) {
  .contain {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .contain {
    display: block;
    width: 100%;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1080px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 1080px) {
  .flex-container {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .flex-container {
    display: block;
    width: 100%;
  }
}

.flex-split {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}

.flex-split p {
  margin: 0.75rem auto;
  line-height: 1.25rem;
}

.flex-tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.flex-tech-icon {
  display: inline-block;
  margin: 10px;
  font-size: 0;
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 6px;
}

.flex-tech-icon img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 1080px) {
  .flex-tech-icon {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 640px) {
  .flex-tech-icon {
    width: 60px;
    height: 60px;
  }
}

.footer {
  padding-top: 40px;
  width: 100%;
  min-height: 30vh;
  vertical-align: top;
  background-color: black;
  color: white;
  font-size: 0;
  -webkit-clip-path: polygon(60% 0, 95% 5%, 100% 20%, 100% 100%, 0 100%, 0 0, 15% 9%);
  clip-path: polygon(60% 0, 95% 5%, 100% 20%, 100% 100%, 0 100%, 0 0, 15% 9%);
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin: 10px auto;
  padding: 10px 2px;
}

.footer a {
  opacity: 0;
  font-size: 0;
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #ffc400;
}

#copywrite {
  margin-left: 20px;
  font-size: 1rem;
  color: #444;
}

#contact-form p {
  margin: 5px auto;
}

#contact-form input[type=text] {
  padding: 10px;
  width: 80%;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 85% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 90%, 85% 100%, 0 100%, 0 0);
}

#contact-form textarea {
  padding: 10px;
  width: 80%;
  height: 120px;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 85% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 90%, 85% 100%, 0 100%, 0 0);
}

#contact-form input[type=submit] {
  cursor: pointer;
  margin: 15px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #ffc400;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-clip-path: polygon(95% 3%, 100% 64%, 90% 100%, 2% 91%, 0 19%, 7% 0);
  clip-path: polygon(95% 3%, 100% 64%, 90% 100%, 2% 91%, 0 19%, 7% 0);
}
/*# sourceMappingURL=style2.css.map */